.SingleNft {
  min-width: 200px;
  min-height: 200px;
  display: flex;
  justify-content: center;
}
.SingleNft-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 200px;
}
